body{
    background-color: black;
    color:white;
}
nav{
    width: 85%;
    height: 100%;
    margin-top:30px;
    margin-left:100px;
    margin-right:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 0px;
    font-family: 'Poppins',sans-serif;
}
.menu a{
text-decoration: none;
color:white;
font-size:20px;
padding: 10px 20px;
margin: 0px 5px;
}
.menu a:last-child{
    background:#e74c3c;
    border-radius: 5px;
}
.menu a:hover{
    background-color:#e74c3c;
    border-radius: 5px;
    transition:0.4s linear;
}
.line{
    position:absolute;
    top:22%;
    left: 8%;

}
.box1{
    width: 10px; 
    height:10px; 
    background:white;
}
.box2{
    width: 60px; 
    height:2px; 
    background:white;
}
.box3{
    width: 100px; 
    height:2px; 
    background:white;
}
.container{
    width: 85%;
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 95px;
    margin-top: 0px;
}
.left{
    flex-basis:40%;

}
.right{
    flex-basis:50%;
}
.right img{
    width: 110%;
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,transparent,#0938);
}
.left h1{
    font-size:4.5rem;
    line-height: 4.5rem;
}
.left button{
    background:#e74c3c;
    color:white;
    padding:10px 20px;
    margin-top:20px;
    border:none;
    outline:none;
    border-radius:5px;
}
.s-icon{
    position:absolute;
    bottom:0.3rem;
    left:5%;
}
.s-icon img{
    width:100px;
}